* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    image: url("img/ia.png");
}


.container {
    width: 85%;
    height: 80%;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}


.container__conteudo {
    display: flex;
    align-items: space-between;
    position: relative;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 3rem;
      
}

.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    
    
}
.container__botao:hover {
    border-radius: 16px;
    background:none;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-top: 2rem;
    cursor: pointer;
    border: 2px solid #b300b9;
    color: #b300b9
                   
}

button:disabled:hover {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    color: white;
    background-color: gray;
}

button:focus {
    outline: none;
}

.container__texto {
    margin: 16px 0 16px 0;
    max-width: max-content;
    max-height: max-content;
}

.container__texto-azul {
    color: #1875E8;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    outline: none;
    orientation: relative;
}

::placeholder {
    color: rgba(112, 128, 144, 0.295);
    
}

.container__botoes {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 250%;
    padding-bottom: 3rem;
    text-align: center;    
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 150%;            
    text-align: center;
    width: 100%;
    max-height: 50%; 
}

p {
    text-align: center;
    font-family: 'Inter', sans-serif;    
}


button {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.texto__paragrafo {
    font-size: 32px;
    font-weight: 400;
}

button:disabled {
    background-color: gray;
}

.container__imagem-pessoa {    
    position: relative;
    height: 110%;
    min-height: auto;
}

section {
    height: 100%;    
    width: 50%;
    display: flex;
    align-items: last baseline;
    place-content: end;
    position: relative;
    bottom: 0;
    
}

dialog {    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20%;
        place-content: end;
        height: 20%;
        width: 20%;
        position: absolute;
        background-color: #032f66;
        box-shadow: 0px 0px 20px 10px #b300b9;
        color:aliceblue;   
        font-family: 'Chakra Petch', sans-serif;
        font-size: 110%;
        margin-top: 2%;
        border: none;
        border-radius: 16px;
        margin-left: auto;
        margin-right: 2%;    
}


.botaoOK {
    border-radius: 16px;
    background: #1875E8;   
    font-size: 20px;    
    border: none;   
    cursor: pointer;
    color: white;
    margin-bottom: .5rem;
    width: 60%;
    max-height: 30%;
    min-height: 25%;
}



@media screen and (max-width: 100%) {

    h1 {
        font-size: 50px;
    }

    .container__botao {
        font-size: 16px;
    }


    .texto__paragrafo {
        font-size: 24px;
    }

    .container__imagem-pessoa {        
        width: 10%;
        height: 10%;
    }

    .container__conteudo {
        display: block;
        position: inherit;
    }

    .container__informacoes {
        padding: 1rem
    }
}